// ======================================
//  Variables
// ======================================

// Colors

$color-text: #777;
$color-default: #51ddfc;
$color-teal: #58e1c1;
$color-white: #fff;
$color-purple: #927bc1;

//Media Query breakpoint

$break-med: 768px;