// ======================================
//  Variables
// ======================================

// Colors

$color-text: #777;
$color-teal: #58e1c1;
$color-btn-letters: #fff;



//Buttons 

$color-default: #51ddfc;
$color-success: #63cc82;
$color-error: #e4757a;
$color-warning: #fd7856;
$color-info: #927bc1;



//Media Query breakpoint

$break-med: 768px;